.pagination-wrapper {
	width: 100%;
	.nav-links {
		display: flex;
		justify-content: center;
		text-align: center;
	}
}

.page-numbers {
	color: white;
	margin-right: .5em;
	padding: .6em .8em;
	@include responsive(small-screens) {
		font-size: 120%;
		margin-right: 1em;
		padding: .6em 1em;
	}
}

.page-numbers:last-child {
	margin-right: 0;
}