.site-content {
	overflow-x: hidden;
}

article {
	max-width: 100%;
}

.sticky {
	display: block;
}

.hentry {
	margin-top: 1rem;
	padding: 1rem;
	&:first-child {
		margin-top: 0;
	}
	&:not(:last-child) {
		margin-bottom: 6rem;
	}
	&.page {
		margin-top: 0;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.4;
	font-weight: 500;
	max-width: 40rem;
	margin: 0 auto;
}

header.entry-header {
	width: 100%;
	text-align: center;
	@include font-size(1.1);
}

.entry-meta {
	opacity: 0.5;
}

.entry-meta+.entry-title {
	margin-top: 0;
}

.entry-title {
	margin-bottom: .9rem;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content {
	max-width: 100%;
}

.entry-footer {
	width: 100%;
	.single-post &::before {
		content: "";
		width: 100px;
		border-bottom: 2px solid #000;
		display: block;
		margin: 50px 0 30px;
	}
}

.cat-links,
.tags-links {
	display: block;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.no-results {
	text-align: center;
	margin: 0 1rem;
}

@media screen and (min-width: 37.5em) {
	.hentry:first-child {
		margin-top: 4rem;
	}
}