.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.4;
	font-weight: 500;
	max-width: 40rem;
	margin: 0 auto;
}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}