.wp-caption-text {
	margin-top: 0;
	margin-bottom: 1.5em;
	max-width: 100%;
	img[class*="wp-image-"] {
		@include center-block;
	}
	.wp-caption-text {
		margin: 0.5075em 0;
	}
}
figure.wp-caption {
	width: initial!important;
	max-width: 100%;
}

.wp-caption-text,
figcaption {
	text-align: left;
	font-size: 80%;
	color: #000;
	opacity: .5;
	a,
	a:visited {
		color: #000;
		text-decoration: underline;
	}
}

@include scheme(dark) {
	.wp-caption-text,
	figcaption {
		color: #bac0c5
	}
	.wp-caption-text a,
	.wp-caption-text a:visited,
	figcaption a,
	figcaption a:visited {
		color: #bac0c5;
	}
}